@import 'mixin.scss';
@import 'variable.scss';

#header {
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 100vh;
    width: 60px;

    &.header {
        .nav {
            padding-top: 20px;
            display: block;
            height: 100vh;

            .nav-left {
                height: 10%;

                a {
                    text-decoration: none;
                    display: inline-flex;

                    img {
                        max-width: 65px;
                    }

                    span {
                        font-size: 3rem;
                        padding-left: 15px;
                        color: $white;
                    }
                }
            }

            .nav-right {
                height: 90%;

                .menu {
                    list-style: none;
                    margin-left: -20px;
                    position: absolute;
                    bottom: 0;

                    @media (max-width:767px) {
                        bottom: 30px !important;
                    }

                    li {
                        margin-top: 15px;

                        a {
                            color: $white;
                            text-decoration: none;
                            position: relative;

                            span {
                                display: none;
                                font-weight: bold;
                            }

                            &.active {
                                color: $primary;
                            }

                            &:hover {
                                color: $primary;

                                span {
                                    display: block;
                                    position: absolute;
                                    left: 25px;
                                    bottom: -4px;
                                }
                            }
                        }
                    }
                }
            }

        }

        &.scrolled {
            padding-top: -30;
            height: 78px;
            background-color: #111;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

            @media (min-width:768px) {
                transition: 0.7s;
                transition-duration: 3s;
            }

            @media (max-width:767px) {
                height: 75px;
                width: 100%;
            }

            .nav {
                @media (max-width:767px) {
                    display: flex;
                    height: 75px;
                }

                .nav-left {
                    margin-top: -10px;

                    @media (max-width:767px) {
                        height: 75px;
                        width: 15%;
                    }

                    img {
                        max-width: 40px !important;
                        transition-duration: 3s;
                    }
                }

                .nav-right {
                    @media (max-width:767px) {
                        height: 75px;
                        width: 85%;
                    }

                    .menu {
                        @media (max-width:767px) {
                            position: relative;
                            text-align: right;
                            margin-top: -10px;
                        }

                        li {
                            @media (max-width:767px) {
                                display: inline-block;
                                margin-left: 15px;
                            }

                            span {
                                @media (max-width:767px) {
                                    display: none !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}