//@import url('/fonts/upstate/style.css');
@import 'themes/upstate';
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

#daintegration {

    .da_property_map,
    .da_local_schools_ap {
        .leaflet-container .leaflet-marker-pane img {
            width: 40px !important;
            height: auto !important;
        }
    }

    .da_personal_appraisal_form_ap {
        label {
            &.da-btn {
                @include crfs(18px);
            }
        }
    }

    .da_similar_sold_ap_icon {
        .da-module-header {
            &::after {
                @media (max-width:600px) {
                    transform: translate(-50%, -50%);
                    left: 50%;
                    top: 70% !important;
                }
            }
        }
    }

    .da_suburb_sales_statistics-ap {
        .da-card {
            .da-card-body {
                .da-card-value {
                    @include crfs(52px);
                }
            }
        }
    }

    .da_avm_ap {
        .da-col-left {
            .da-box {
                .da-buttons {
                    .da-btn {
                        @include crfs(16px);
                    }
                }
            }
        }
    }

    .da_avm_ap_range {

        .da-form-row>.da-col,
        .da-form-row>[class*="da-col-"]:nth-child(5) {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    .da_address_search_exclude_state {
        .da-underneath-note {
            display: none !important;
        }
    }
}

#property-report {
    .da_module {
        .da-module-wrapper {
            background-color: transparent !important;
        }
    }
}